a, a:hover, a:active, a:visited {
  text-decoration: none;
}

a {
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
