:root {
  --dark-primary-color: #E64A19;
  --primary-color: #FF5722;
  --light-primary-color: #FFCCBC;
  --text-icons: #FFFFFF;
  --accent-color: #7C4DFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
}

* {
    /*box-shadow: 0 0 1px red;*/
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
}

.navigator {
    background-color: var(--dark-primary-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 100;
}

.navigator .menu {
    display: inline-flex;
    float: right;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.navigator .menu li {
    list-style: none;
    background-color: transparent;
    margin: auto;
}

.navigator .menu li a {
    background-color: transparent;
    color: var(--text-icons);
    border-radius: 0px;
}

.navigator .menu li a:hover {
    color: var(--divider-color);
}

.navigator .menu li a:hover::after {
    content: none;
}

.main {
    background-color: var(--primary-color);
    height: 100vh;
    padding-top: 60px;
    text-align: center;
    color: var(--light-primary-color);
}

.image {
    width: 200px;
    height: 200px;
    background-image: url('../images/picture.jpg');
    background-position: center;
    background-size: cover;
    margin: 80px auto;
    border-radius: 100%;
    border: 5px solid var(--light-primary-color);
}

.container {
    background-color: var(--primary-color);
    height: 100%;
}

.section {
    background-color: var(--text-icons);
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    padding: 20px;
    padding-top: 80px;
    min-height: 100vh;
}

.section h1 {
    color: var(--primary-text);
    padding: 5px;
    width: 100%;
}

.section h2 {
    color: var(--primary-text);
}

.section h3 {
    color: var(--secondary-text);
    text-align: right;
    padding-bottom: 0.5em;
    font-size: 1em;
    border-bottom: 2px dashed var(--secondary-text);
    margin-left: 20%;
}

.list {
    padding: 0;
}

.list li {
    color: var(--primary-text);
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 0px;
    border-bottom: 1px solid var(--secondary-text);
    font-size: 0.7em;
}

.list li::before {
    section: "▸";
    margin-right: 10px;
}

.section p {
    color: var(--primary-text);
}

.content {
    margin-top: 50px;
}

.skills-list li::before {
    section: "✔";
}
